body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}
:root {
  --black: rgba(0, 0, 0, 1);
  --bg: rgba(19, 19, 19, 1);
  --licorice: rgba(20, 20, 20, 1);
  --chicago: rgba(94, 94, 94, 1);
  --alto: rgba(217, 217, 217, 0.38);
  --alto-2: rgba(217, 217, 217, 1);
  --concrete: rgba(242, 242, 242, 1);
  --white: rgba(255, 255, 255, 1);
  /* mine */
  --linkSizeDispktop: 1.5vw;
  --linkSizemobile: 3vw;
  --headingSizeDisktop: 8vw;
  --SubheadingSizeDisktop: 2vw;
  --GameInfoDisktop: 3.4vw;

  --font-size-m: 4.2px;
  --font-size-l: 4.7px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 13.5px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 19.4px;
  --font-size-xxxxl: 45.8px;
  --font-size-xxxxxl: 27.1px;
  --font-size-xxxxxl: 91.6px;
  --font-size-xl2: 6.8px;
  --font-size-xxl2: 9.7px;

  --font-family-abel: "Abel";
  --font-family-abel-regular: "Abel-Regular";
  --font-family-alata: "Alata";
  --font-family-branding_aliskaje-regular: "Branding Aliskaje-Regular";
}

/* Variables */
@font-face {
  font-family: BrandingAliskaje;
  src: url(./fonts/BrandingAliskaje.otf);
}
/* some bs from mui for the lable styling */
/* it worked wow */
.MuiSlider-markLabel,
.MuiSlider-markLabelActive {
  background-color: #fff !important;
}
/* lol */

.css-nnid7-MuiSlider-valueLabel {
  background-color: var(--chicago) !important;
  color: var(--bg) !important;
}
/* bs */
.MuiSlider-thumb:focus {
  box-shadow: 0 0 0 8px rgba(255, 165, 0, 0.2) !important;
}

.MuiSlider-thumb:hover {
  box-shadow: 0 0 0 8px rgba(255, 165, 0, 0.3) !important;
}

.MuiSlider-thumb:active {
  box-shadow: 0 0 0 12px rgba(255, 165, 0, 0.3) !important;
}

.MuiSlider-thumb {
  color: green;
}
.MuiSlider-thumb:hover {
}
.css-eg0mwd-MuiSlider-thumb:hover {
  background-color: var(--chicago) !important;
}
.css-eg0mwd-MuiSlider-thumb,
.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible:hover {
  background-color: var(--chicago) !important;
}
.MuiSlider-rail {
  color: var(--black);
}
.MuiSlider-track {
  color: var(--concrete);
}

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight: 300;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #333;
}
form {
  max-width: 500px;
  min-width: 320px;
}
h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

/* Classes */
.center {
  text-align: center;
}
